<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec EJS</title>
</head>
<body>
    <h1>Bienvenue sur ma page rendue avec EJS!</h1>
    <p>Ceci est une page dynamique avec du contenu généré via EJS.</p>

    <!-- Exemple d'utilisation de variable EJS -->
    <p>Message : <%= message %></p>
</body>
</html>
