.profile-page {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  gap: 20px;
  .head-profil {
    display: flex;
    gap: 48px;
    align-items: center;
  }
  .user-photo-profil {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .user-photo-profil img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  .user-follower-container {
    display: grid;
    gap: 20px;
    align-items: center;
  }
  .name-user span {
    font-size: 17px;
    font-weight: 700;
  }
  .container-detail {
    display: flex;
    gap: 30px;
  }
  .detail-user-profil {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .post-name-profil {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .detail-user-profil .number {
    font-weight: 700;
    font-size: 17px;
  }
  .button-container {
    display: flex;
    gap: 20px;
  }
  .button-container button {
    width: 170px;
    height: 38px;
    font-size: 15.5px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 9px;
    border: none;
    background: var(--tiktok);
    transition: 0.5s ease;
  }

  .button-container .btn2 {
    color: var(--tiktok);
    background: #fff;
    border: 1px solid var(--tiktok);
  }
  .button-container .btn2:hover {
    background: var(--tiktok);
    color: #fff;
  }
  .button-container button:hover {
    color: var(--tiktok);
    background: #fff;
    border: 1px solid var(--tiktok);
  }
}
@media screen and (max-width: 659px) {
  .button-container button {
    width: 150px !important;
    height: 32px !important;
  }
  .user-photo-profil img {
    height: 100px !important;
    width: 100px !important;
  }
  .detail-user-profil {
    font-size: 15px !important;
  }
  .detail-user-profil .number {
    font-size: 15.5px !important;
  }
  .name-user span {
    font-size: 16px !important;
  }
  .btn1,
  .btn2 {
    font-size: 14px !important;
  }
  .no-posts span {
    font-size: 17px !important;
  }
  .img-circle {
    padding: 7px !important;
  }
  .img-circle img {
    width: 65px !important;
    height: 65px !important;
  }
}
@media screen and (max-width: 510px) {
  .button-container button {
    width: 95px !important;
    height: 28px !important;
  }
  .user-photo-profil img {
    height: 84px !important;
    width: 84px !important;
  }
  .detail-user-profil {
    font-size: 14.5px !important;
  }
  .detail-user-profil .number {
    font-size: 14.5px !important;
  }
  .name-user span {
    font-size: 14.5px !important;
  }
  .btn1,
  .btn2 {
    font-size: 13.8px !important;
  }
  .no-posts span {
    font-size: 16px !important;
  }
  .img-circle {
    padding: 6px !important;
  }
  .img-circle img {
    width: 57px !important;
    height: 57px !important;
  }
  .container-detail {
    gap: 25px !important;
  }
}
