.home {
  .publication {
    background: #fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
  }
  .publication p {
    font-size: 15px;
  }
  .head-pub {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user-pub {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
  }
  .sary-user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .badge {
    width: 25px;
    height: 18px;
    margin-left: -10px;
  }
  .menu-dots {
    width: 25px;
    height: 18px;
    cursor: pointer;
  }
  .user-pub .times {
    margin-left: -10px;
  }
  .img-pub {
    width: 100%;
    height: 378px;
    object-fit: cover;
    border-radius: 10px;
  }
  .footer-pub {
    display: flex;
    justify-content: space-between;
  }
  .action img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .action {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .action-container {
    display: flex;
    gap: 10px;
  }
  .action span {
    font-size: 15px;
  }
  .save {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media screen and (max-width: 659px) {
  .publication p {
    font-size: 14px !important;
  }
  .user-pub span {
    font-size: 15px !important;
  }
  .sary-user {
    width: 55px !important;
    height: 55px !important;
  }
  .action img {
    width: 20px !important ;
    height: 20px !important;
  }
  .save {
    width: 25px !important ;
    height: 25px !important;
  }
}
